<!-- Side bar -->
<div class="wrapper">
    <nav #sidebar id="sidebar" [ngClass]="{'active': isSidebarActive}">
        <div class="sidebar-header">
            <h3>ICTAK Learner Tracker</h3>
        </div>
        <ul class="list-unstyled components">
            <ul class="list-unstyled CTAs">
                <li>
                    <button (click)="toggleSidebar()" class="button-89" routerLink="homecomp" role="button"><i class="bi bi-house"></i> Home</button>
                </li>
            </ul>
            <hr>
            <li>
                <a *ngIf="isAdminpanel" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="bi bi-person-lock"></i> Admin Panel</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a (click)="toggleSidebar()" routerLink="adduser"><i class="bi bi-person-plus"></i> Add User</a>
                    </li>
                    <li>
                        <a (click)="toggleSidebar()" routerLink="viewuser"><i class="bi bi-person-badge"></i> View Users</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="bi bi-people-fill"></i> Student Panel</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a *ngIf="isAddstudent" (click)="toggleSidebar()" routerLink="addstuds"><i class="bi bi-person-plus"></i> Add Students</a>
                    </li>
                    <li>
                        <a (click)="toggleSidebar()" routerLink="viewstuds"><i class="bi bi-person-badge"></i> View Students</a>
                    </li>
                    <li>
                        <a *ngIf="isCsvupload" (click)="toggleSidebar()" routerLink="csv"><i class="bi bi-file-earmark-arrow-up-fill"></i> CSV-upload</a>
                    </li>
                </ul>
            </li>
            <li>
                <a *ngIf="isAddnoti" (click)="toggleSidebar()" class="nav-link" routerLink="passchange"><i class="bi bi-bell"></i> Add Notification</a>
            </li>
        </ul>
        <ul class="list-unstyled CTAs">
            <li>
                <button class="button-89" (click)="logout()" role="button"><i class="bi bi-box-arrow-left"></i> Logout</button>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content" >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid" >
                <button (click)="toggleSidebar()" type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span> Menu</span>
                </button>
            </div>
        </nav>
        <!-- Child component Route -->
        <ng-container>
            <router-outlet></router-outlet>
        </ng-container>
    </div>
</div>