<div>
    <div class="page-wrapper">
      <div id="waterdrop"></div>
      <div>
        <div class="footer-top">
          <div class="pt-exebar ">
          </div>
          <div class="container ">
            <div class="row d-flex justify-content-evenly">
              <div class="col-lg-3 col-md-12 col-sm-12 footer-col-3">
                <div class="widget footer_widget">
                  <h5 class="footer-title text-center">Address</h5>
                  <div class="gem-contacts">
                    <div class="gem-contacts-item gem-contacts-address">G1, Ground Floor, Thejaswini, Technopark Campus
                      Thiruvananthapuram, Kerala, India - 695 581
                    </div>
                    <div class="gem-contacts-item gem-contacts-phone"><i class="fa fa-phone" aria-hidden="true"></i> Phone: <a> +91 471 270 0811</a></div>
                    <div class="gem-contacts-item gem-contacts-address mt-2">2nd Floor, UL Cyberpark Building, Nellikode Post
                      Kozhikode, Kerala, India - 673 016
                     </div>
                    <div class="gem-contacts-item gem-contacts-phone"><i class="fa fa-phone" aria-hidden="true"></i> Phone: <a>+91 495 243 1432</a></div>    
                    <div class="gem-contacts-item gem-contacts-address mt-2">Ground Floor, Rajamally Building, Infopark
                      Koratty, Thrissur, Kerala, India - 680 308
                     </div>
                    <div class="gem-contacts-item gem-contacts-phone"><i class="fa fa-phone" aria-hidden="true"></i> Phone: <a>+91 480 273 1050</a></div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 col-md-6 col-sm-12 d-flex">
                <div class="row ">
                  <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="widget footer_widget text-center">
                      <h5 class="footer-title">Contact Us</h5>
                      <ul class="posts  styled">
                        <li class="clearfix gem-pp-posts">
                          <div class="gem-pp-posts-text">
                            <div class="gem-pp-posts-date">+91 79 075 58161</div>
                          </div>
                        </li>
                        <li class="clearfix gem-pp-posts">
                          <div class="gem-pp-posts-text">
                            <div class="gem-pp-posts-date">info@ictkerala.org</div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                    <div class="widget text-center">
                      <h5 class="footer-title">Email Us</h5>
                      <div class="textwidget">
                        <div role="form" class="wpcf7" id="wpcf7-f4-o1" lang="en-US" dir="ltr">
                          <form class="wpcf7-form" novalidate="novalidate">
                            <div class="contact-form-footer">
                              <p><span class="wpcf7-form-control-wrap your-first-name"><input type="text" name="your-first-name" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Your name"></span></p>
                              <p><span class="wpcf7-form-control-wrap your-email_1"><input type="email" name="your-email_1" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" aria-invalid="false" placeholder="Your email"></span></p>
                              <p><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Your message"></textarea></span></p>
                              <div><input type="button" onclick="alert(`Thank You for Contacting`)" value="Send" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="footer-site-info">2023 © <a target="_blank">ICTAK Learner App </a></div>
              </div>
              <div class="col-md-6">
                <nav id="footer-navigation" class="site-navigation footer-navigation centered-box" role="navigation">
                  <ul id="footer-menu" class="nav-menu styled clearfix inline-inside">
                    <li id="menu-item-26" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26"><a href="#"></a></li>
                    <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"><a href="#"></a></li>
                    <li id="menu-item-28" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28"><a href="#"></a></li>
                    <li id="menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29"><a href="#"></a></li>
                  </ul>
                </nav>
              </div>
              <div class="col-md-3">
                <div id="footer-socials">
                  <div class="socials inline-inside socials-colored">
                    <a href="https://www.facebook.com/ictkerala/" target="_blank" title="Facebook" class="socials-item">
                      <i class="fab fa-facebook-f facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/ictkerala/?hl=en" target="_blank" title="Instagram" class="socials-item">
                      <i class="fab fa-instagram instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/user/ictkerala" target="_blank" title="YouTube" class="socials-item">
                      <i class="fab fa-youtube youtube"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://daniellaharel.com/raindrops/js/raindrops.js"></script>
<script> jQuery('#waterdrop').raindrops({color:'#1c1f2f', canvasHeight:150, density: 0.1, frequency: 20});</script>